.app-section4 {
  display: grid;
  grid-template-columns: 50% 50%;
}

.app-section4 > * {
  justify-self: center;
}

.section4-img {
  display: flex;
  align-items: center;
  position: relative;
}

@media screen and (max-width: 1000px) {
  .app-section4 {
    grid-template-columns: 100%;
  }
}
