.dim {
  color: #515151;
}

.app {
  box-sizing: border-box;
  text-align: center;
  color: black;
  font-size: 0.9rem;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

.app img {
  max-width: 100%;
}

.app > * {
  margin: 50px auto;
  width: 85vw;
}

.app-logo {
  height: 40vmin;
  pointer-events: none;
}

section {
  text-align: left;
}

section p {
  margin: 20px
}

section h1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  margin: 20px;
}

section h1 div {
  display: inline-block;
  position: relative;
}

section h1 img {
  position: absolute;
  left: 0px;
  bottom: -5px;
  align-self: center;
}

@media (prefers-reduced-motion: no-preference) {
  .app-logo {
    animation: app-logo-spin infinite 20s linear;
  }
}

@keyframes app-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
