
.slider {
  display: flex;
  align-items: center;
  max-width: 1000px;
}

.slides {
  width: 80vw;
  display: flex;
  justify-content: space-around;
  overflow: hidden;
}

.slider button {
  background: transparent;
  border: none;
  box-shadow: none;
}